.introduction {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
}
.introContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
}
.introText {
    font-size: 32px;
}
.subText {
    font-size: 24px;
}
.bookBtn {
    width: fit-content;
    background-color: blue;
    border: none;
    padding: 12px 20px;
}
.bookBtn a {
    width: inherit;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.introImage {
    justify-content: flex-end;
    width: 300px;
    height: 300px;
    background-color: rgb(105, 215, 243);
    border-radius: 5px;
}
